<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlife.changewallpaper"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 配置动态壁纸service-->
        <service android:label="@string/wallpaperLabel"
            android:name=".ChangeWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">

            <!--为动态壁纸配置intent-filter-->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <!--为动态壁纸配置meta-data-->
            <meta-data android:name="android.service.wallpaper"
                android:resource="@xml/changewallpaper"/>
        </service>

    </application>

</manifest>